@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/HomeStyle.css" rel="stylesheet" />
<div class="row">

    <div class="col-md-5">
        
        <div class="box">
            <a asp-controller="Series" asp-action="List">
                <img src="~/images/HomeIndex/InkedseriesBanner_LI.jpg" />
            </a>
        </div>
        
    </div>


    <div class="col-md-5">
        <div class="box">
            <a asp-controller="Movie" asp-action="List">
                <img src="~/images/HomeIndex/movieBanner.png" />
            </a>
        </div>
        
    </div>

</div>